<ion-header>
  <ion-toolbar color="primary" class="ion-text-center" >
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" color="secondary"></ion-menu-button>
    </ion-buttons>
     <a id="imagen-duoc">
      <img  src="https://i.ibb.co/DthTgz5/DUOC-LOGO-1.png" alt="DUOC-LOGO-1" width="250">
    </a>
    <!-- <ion-title style="font-size: large; font-weight: bold;" >
      <a style="color: #f9b21b">Duoc </a><a style="color: white;">GYM</a>
    </ion-title> -->
    <ion-avatar slot="end">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <form action="POST" [formGroup]="formulario" (ngSubmit)="submit()">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="6">
          <ion-item>
            <ion-label position="floating"> Nombre de usuario </ion-label>
            <ion-input formControlName="username" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"> Contraseña </ion-label>
            <ion-input formControlName="password" type="password" ></ion-input>
          </ion-item>
          <ion-button color="warning" expand="full" type="submit"> Iniciar Sesion</ion-button>
          <ion-button fill="clear" expand="full" [routerLink]="['/recuperar']"> Recuperar Contraseña</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
